#root {
  max-width: 1280px;
  margin: 0 auto;
  --border-color: rgb(255, 255, 255, 0.08);
  overflow: hidden;
}

p {
  margin: 0;
}

code {
  display: block;
  font-size: 12px;
  color: rgb(255, 255, 255, 0.32);
  transform: skewX(-12deg);
}

ul {
  border-left: 1px solid var(--border-color);
  padding: 1rem 0;
  margin: 0 0 0 1rem;
}

ul[data-level="2"] {
  border: none;
  padding: 0 0 0 2rem;
  margin: 0;
}

ul[data-level="1"] > li {
  margin: 0 0 1rem;
  border-bottom: 1px solid var(--border-color);
}

ul[data-level="2"] > li:not(:last-child) {
  margin: 0.25rem 0;
  border-bottom: 1px solid var(--border-color);
}

ul[data-level="1"] > li > .name {
  font-weight: 700;
  border-top: 1px solid var(--border-color);
}

ul[data-level="1"] > li {
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.value {
  font-size: 12px;
  padding-right: 1rem;
}

#svh {
  height: 100svh;
}
#lvh {
  height: 100lvh;
}

#svh, #lvh {
  width: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
